<div class="content" id="home">
  <div id="sidebar-button">
    <img src="/images/sidebar-button.png">
  </div>
  <div id="post-info">
    <div id="cover-photo-container">
      <img id="cover-photo" src="/images/{{ page.cover }}">
    </div>
    <div id="info-container">
      <h1 id="title">{{ page.title }}</h1>
    </div>
  </div>

  <div class="post">
    <div align="right">
      <!-- Adds links to other languages on the post -->
      {% for lang in site.languages %}
        {% unless site.lang == lang %}
          {% if lang == site.default_lang and site.default_locale_in_subfolder != true %}
            <a href="{{ site.baseurl_root }}{{ page.url }}" >{% t langs.{{ lang }} %}</a>
          {% else %}
            <a href="{{ site.baseurl_root }}/{{ lang }}{{ page.url }}" >{% t langs.{{ lang }} %}</a>
          {% endif %}
          
          {% assign next = forloop.index | plus: 1 %}
          
          {% if forloop.last != true and site.languages[forloop.index] != site.lang or site.languages[forloop.index] == site.lang and next < forloop.length %}
            <span class="separator"> &bull; </span>
          {% endif %}
          
        {% endunless %}
      {% endfor %}
    </div>

    <p>{% t pages.includeexample %}: <b>{{ include.param }}</b></p>

    {{ content }}
    
    <br>
    <br>
    <br>
    <h3>The list of static files below was created by accessing <em>site.static_files</em> and must be visible on all translations:</h3>
    {% for file in site.static_files %}
      <p>{{ file.path }} last edited at {{ file.modified_time | date:"%H:%m" }} with extname {{ file.extname }}</p>
    {% endfor %}
  </div>
</div>
